.width100px
{
    float: left;
    /*padding-left: 40px;*/
    width: 100px;
}
.btn
{
    height: 25px;
    font-weight: 400;
    border-right: 2px solid green;

}
.clsCompleted {text-decoration: line-through}
.redText{
    color: red;
    font-weight: bolder;
    cursor: pointer;
}
.bigBox{
    font-size: 3em;
}
ul > li {
    list-style: none;
}


/*//video12 css-----*/

.Alert{
    position: relative;
    background-color: #ddd;
    border: 1px solid #ddd;
    padding: 1em;
}
.Alert--Success
{
    background:green;
    border: 1px solid green;
}
.Alert--Error
{
    background:red;
    border: 1px solid red;
}
.Alert--Warning
{
    background:goldenrod;
    border: 1px solid gold;
}
.Alert--General
{
    background:lightblue;
    border: 1px solid mediumblue;
}
.Alert__close
{
    position:absolute;

    top: 1em;
    right: 1em;
    font-weight:bold;
    cursor:pointer;
}